apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: certificaterequests.certman.managed.openshift.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.issuerName
    name: IssuerName
    type: string
  - JSONPath: .status.notBefore
    name: NotBefore
    type: string
  - JSONPath: .status.notAfter
    name: NotAfter
    type: string
  - JSONPath: .spec.certificateSecret.name
    name: Secret
    type: string
  group: certman.managed.openshift.io
  names:
    kind: CertificateRequest
    listKind: CertificateRequestList
    plural: certificaterequests
    singular: certificaterequest
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            acmeDNSDomain:
              description: ACMEDNSDomain is the DNS zone that will house the TXT records
                needed for the certificate to be created. In Route53 this would be
                the public Route53 hosted zone (the Domain Name not the ZoneID)
              type: string
            apiURL:
              description: APIURL is the URL where the cluster's API can be accessed.
              type: string
            certificateSecret:
              description: CertificateSecret is the reference to the secret where
                certificates are stored.
              type: object
            dnsNames:
              description: DNSNames is a list of subject alt names to be used on the
                Certificate.
              items:
                type: string
              type: array
            email:
              description: Let's Encrypt will use this to contact you about expiring
                certificates, and issues related to your account.
              type: string
            platformSecrets:
              description: PlatformSecrets contains the credentials and secrets for
                the cluster infrastructure.
              properties:
                aws:
                  properties:
                    credentials:
                      description: Credentials refers to a secret that contains the
                        AWS account access credentials.
                      type: object
                  required:
                  - credentials
                  type: object
                gcp:
                  properties:
                    credentials:
                      description: Credentials refers to a secret that contains the
                        GCP account access credentials.
                      type: object
                  required:
                  - credentials
                  type: object
              type: object
            renewBeforeDays:
              description: Reissue certificate before expiration duration in days.
              format: int64
              type: integer
            webConsoleURL:
              description: WebConsoleURL is the URL for the cluster's web console
                UI.
              type: string
            region:
              description: Region specifies the AWS region where the cluster will be created.
              type: string
          required:
          - acmeDNSDomain
          - certificateSecret
          - platformSecrets
          - dnsNames
          - email
          - region
          type: object
        status:
          properties:
            conditions:
              description: Conditions includes more detailed status for the Certificate
                Request
              items:
                properties:
                  lastProbeTime:
                    description: LastProbeTime is the last time we probed the condition.
                    format: date-time
                    type: string
                  lastTransitionTime:
                    description: LastTransitionTime is the last time the condition
                      transitioned from one status to another.
                    format: date-time
                    type: string
                  message:
                    description: Message is a human-readable message indicating details
                      about last transition.
                    type: string
                  reason:
                    description: Reason is a unique, one-word, CamelCase reason for
                      the condition's last transition.
                    type: string
                  status:
                    description: Status is the status of the condition.
                    type: string
                  type:
                    description: Type is the type of the condition.
                    type: string
                required:
                - type
                - status
                type: object
              type: array
            issued:
              description: Issued is true once certificates have been issued.
              type: boolean
            issuerName:
              description: The entity that verified the information and signed the
                certificate.
              type: string
            notAfter:
              description: The expiration time of the certificate stored in the secret
                named by this resource in spec.secretName.
              type: string
            notBefore:
              description: The earliest time and date on which the certificate stored
                in the secret named by this resource in spec.secretName is valid.
              type: string
            serialNumber:
              description: The serial number of the certificate stored in the secret
                named by this resource in spec.secretName.
              type: string
            status:
              description: Status
              type: string
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
